.list {
  width: 90%;
  background-color: rgba(128, 128, 128, 0.129);
  border-radius: 20px;
  box-shadow: 1px 0px 5px black;
  padding: 10px;
  display: block;
  margin: auto;
  list-style-type: none;
  text-align: center;
}
@media screen and (max-width: 675px) {
  .list {
    width: 95%;
    background-color: rgba(128, 128, 128, 0.129);
    border-radius: 20px;
    box-shadow: 1px 0px 5px black;
    padding: 10px;
    display: block;
    margin: auto;
    list-style-type: none;
    text-align: center;
  }
}

ul > li {
  margin: 15px 0px;
}

ul > li > input {
  height: 25px;
  width: 100%;
}

.complete {
  background-color: rgba(0, 0, 255, 0.418);
  color: white;
  margin: 2px;
}

.complete:hover {
  background-color: rgba(0, 0, 255, 0.877);
  color: white;
}

.delete {
  background-color: rgba(255, 0, 0, 0.493);
  color: white;
  margin: 2px;
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.863);
  color: white;
}

.update {
  background-color: rgba(128, 128, 128, 0.507);
  color: white;
  margin: 2px;
}

.update:hover {
  background-color: rgba(128, 128, 128, 0.897);
  color: white;
}
